.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
public/uploads/*
config/github.yml

# RubyGems stuff
public/Marshal.4.8
public/Marshal.4.8.Z
public/gems/
public/latest_specs.4.8
public/latest_specs.4.8.gz
public/prerelease_specs.4.8
public/prerelease_specs.4.8.gz
public/quick/
public/specs.4.8
public/specs.4.8.gz
