<h1>Listing rubygems</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th></th>
  </tr>

<% @rubygems.each do |rubygem| %>
  <tr>
    <td><%= rubygem.name %></td>
    <td><%= rubygem.user.nickname %></td>
    <td><%= link_to 'Show', rubygem %></td>
  </tr>
<% end %>
</table>

<br />

<% if current_user %>
  <%= link_to 'New Rubygem', new_rubygem_path %>
<% end %>
