development:
  adapter: postgresql
  encoding: unicode
  database: pipegems_development
  pool: 5
  username:
  password:


test:
  adapter: postgresql
  encoding: unicode
  database: pipegems_test
  pool: 5
  username:
  password:


production:
  adapter: postgresql
  encoding: unicode
  database: pipegems_production
  pool: 5
  username:
  password:
