<h1>Listing rubygem_versions</h1>

<table>
  <tr>
    <th>Rubygem</th>
    <th>Version</th>
    <th></th>
  </tr>

<% @rubygem_versions.each do |rubygem_version| %>
  <tr>
    <td><%= rubygem_version.rubygem %></td>
    <td><%= rubygem_version.version %></td>
    <td><%= link_to 'Show', rubygem_version_path(@rubygem, rubygem_version) %></td>
  </tr>
<% end %>
</table>

<br />

<% if current_user == @rubygem.user %>
  <%= link_to 'New Rubygem version', new_rubygem_version_path(@rubygem) %>
<% end %>
